<md-content layout-fill>
	<md-toolbar class="md-tall md-whiteframe-4dp md-hue-1">
		<div class="md-toolbar-tools">
			<h2>
				<span>Crear demanda</span>
			</h2>
		</div>
	</md-toolbar>
	<md-content>
		<md-card>
			<md-card-content>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Título</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Descripción</label>
          <input ng-model="theMax">
        </md-input-container>

        <div layout-gt-sm="row">
          <md-input-container class="md-block" flex-gt-sm="">
            <label>Link YouTube</label>
            <input ng-model="theMax">
          </md-input-container>
        </div>

        <md-input-container class="md-block" flex-gt-sm="">
          <label>Imágen</label>
          <input ng-model="theMax">
        </md-input-container>

			</md-card-content>
		</md-card>
	</md-content>
	<md-button class="md-fab md-fab-bottom-right" style="position: fixed" aria-label="FAB">
		<md-icon md-svg-icon="add"></md-icon>
	</md-button>
</md-content>
