<md-dialog aria-label="Crear demanda">
	<md-toolbar>
		<div class="md-toolbar-tools">
			<h2>Crear demanda</h2>
			<span flex></span>
			<md-button class="md-icon-button" ng-click="vm.closeDialog()">
				<md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
			</md-button>
		</div>
	</md-toolbar>
	<form name="createForm" novalidate>
		<md-dialog-content>
			<md-input-container>
				<label>Titulo</label>
				<input name="title" id="title" ng-model="vm.demand.title" ng-required="true" md-maxlength="50" md-minlength="5">
				<div ng-messages="createForm.title.$error" ng-if="createForm.title.$dirty">
					<div ng-message="required">Por favor ingrese el titulo de la demanda.</div>
				</div>
			</md-input-container>
			<md-input-container>
				<label>Descripción</label>
				<input name="description" id="description" ng-model="vm.demand.description" ng-required="true">
				<div ng-messages="createForm.description.$error" ng-if="createForm.description.$dirty">
					<div ng-message="required">Por favor ingrese la descripción de la demanda.</div>
				</div>
			</md-input-container>
			<md-content layout="row" flex>
				<md-input-container class="md-block" flex>
					<label>Latitud</label>
					<input ng-model="vm.profile.latitude" type="text" required>
				</md-input-container>
				<md-input-container class="md-block" flex>
					<label>Longitud</label>
					<input ng-model="vm.profile.longitude" type="text" required>
				</md-input-container>
			</md-content>
			<md-input-container>
				<label>Precio</label>
				<input name="price" id="price" ng-model="vm.demand.price" ng-required="true">
				<div ng-messages="createForm.price.$error" ng-if="createForm.price.$dirty">
					<div ng-message="required">Por favor ingrese el precio de la demanda.</div>
				</div>
			</md-input-container>
			<md-input-container class="md-block">
				<label>Fecha máxima</label>
				<input name="deadline" id="deadline" ng-model="vm.demand.deadline" ng-required="true">
				<div ng-messages="createForm.deadline.$error" ng-if="createForm.deadline.$dirty">
					<div ng-message="required">Por favor ingrese fecha máxima de la demanda.</div>
				</div>
			</md-input-container>
			
			<md-button ng-click="vm.closeDialog()" class="md-primary">Cancelar</md-button>
			<md-button ng-click="vm.createDemand()" class="md-primary" ng-disabled="createForm.$invalid">Crear</md-button>
		</md-dialog-content>
	</form>
</md-dialog>