<div>
	<md-toolbar class="md-xl md-whiteframe-4dp md-hue-1">
		<div layout="row" layout-xs="column" layout-align-xs="space-around start" layout-fill class="md-toolbar-tools-bottom inset">
			<img class="user-avatar" ng-src="{{vm.profile.avatarLink || 'assets/images/user.png'}}"/>
			<div layout="column" layout-align="end start">
				<div>{{vm.profile.firstName + " " + vm.profile.lastName}}</div>
				<div>{{vm.profile.username}}</div>
			</div>
		</div>
		<md-button class="md-fab md-fab-bottom-right fab-border" aria-label="Favorite" ng-if="!vm.showEdit">
			<md-icon md-svg-icon="star_fill"></md-icon>
		</md-button>
	</md-toolbar>
	<md-card>
		<md-card-content>
			<md-content class="md-no-momentum">
				<md-input-container class="md-icon-float md-block">
					<label>Correo</label>
					<md-icon md-svg-icon="email"></md-icon>
					<input ng-model="vm.profile.email" type="text" readonly>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Celular</label>
					<md-icon md-svg-icon="phone"></md-icon>
					<input ng-model="vm.profile.phone" type="text" readonly>
				</md-input-container>
				<md-input-container class="md-icon-float md-block">
					<label>Genero</label>
					<md-icon md-svg-icon="gender"></md-icon>
					<input ng-model="vm.profile.gender" type="text" readonly>
				</md-input-container>
				<md-content>
					<uib-rating class="input-overlay" state-on="'fa fa-star'" state-off="'fa fa-star-o'" ng-model="vm.profile.score" read-only="true"></uib-rating>
					<md-input-container class="md-icon-float md-block">
						<md-icon md-svg-icon="star"></md-icon>
						<input value=" " readonly/>
					</md-input-container>
				</md-content>
				<md-input-container class="md-icon-float md-block">
					<label>Dirección</label>
					<md-icon md-svg-icon="map"></md-icon>
					<input ng-model="vm.profile.address" type="text" readonly>
				</md-input-container>
					<md-button class="md-primary" ng-click="vm.startChar()" ng-disabled="!vm.profile.isOnline">
						<md-icon md-svg-icon="account_circle" ng-style="{'fill': vm.profile.isOnline?'green':'red'}"></md-icon>
						<span>{{vm.profile.isOnline? 'Iniciar chat' : 'Desconectado'}}<span>
					</md-button>
				<md-button class="md-primary" ng-click="vm.openEditProfileDialog($event)" ng-if="vm.showEdit">Editar perfil</md-button>
			</md-content>
		</md-card-content>
	</md-card>
  <md-card>
    <md-toolbar class="md-whiteframe-4dp md-hue-1">
      <div layout="row" layout-sm="column" layout-align="start end" layout-align-sm="start start">
        <div layout="column" layout-align="end start">
          <span flex/>
            <span>
              <h2>Mis demandas</h2>
            </span>
        </div>
      </div>

    </md-toolbar>
    <md-card-content>
		<md-list flex>
			<md-list-item ng-repeat="demand in vm.profile.demands">
				<p>{{ demand.id + " - " +demand.name }}</p>
				<p>{{demand.id}}&nbsp;-&nbsp;{{demand.name?demand.name:"Demanda "+offer.id}}</p>
				<md-button class="md-primary" >Demanda solucionada</md-button>
				<md-button class="md-primary" ng-click="vm.openEditDemandDialog($event, demand.id)">Editar</md-button>
				<md-button class="md-primary" ng-click="vm.openDeleteDemandDialog($event, demand.id)">Eliminar</md-button>
			</md-list-item>
			<p ng-if="vm.profile.demands.length === 0">El usuario no tiene registrado demandas</p>
		</md-list>
    </md-card-content>
  </md-card>
  <md-card>
    <md-toolbar class="md-whiteframe-4dp md-hue-1">
      <div layout="row" layout-sm="column" layout-align="start end" layout-align-sm="start start">
        <div layout="column" layout-align="end start">
          <span flex/>
            <span>
              <h2>Mis ofertas</h2>
            </span>
        </div>
      </div>

    </md-toolbar>
    <md-card-content>
		<md-list flex>
			<md-list-item ng-repeat="offer in vm.profile.offers">
				<p>{{offer.id}}&nbsp;-&nbsp;{{offer.name?offer.name:"Oferta "+offer.id}}</p>
				<md-button class="md-primary" >Oferta solucionada</md-button>
				<md-button class="md-primary" ng-click="vm.openEditOfferDialog($event, offer.id)">Editar</md-button>
				<md-button class="md-primary" ng-click="vm.openDeleteOfferDialog($event, offer.id)">Eliminar</md-button>
			</md-list-item>
			<p ng-if="vm.profile.offers.length === 0">El usuario no tiene registrado ofertas</p>
		</md-list>
    </md-card-content>
  </md-card>
</div>
