<div>
	<md-toolbar class="md-tall md-whiteframe-4dp md-hue-1">
		<div class="md-toolbar-tools">
			<h2>
				<span>Inicio de sesión</span>
			</h2>
		</div>
	</md-toolbar>
	<form name="loginForm" novalidate>
	<md-card layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
		<md-card-content>


				<md-input-container  class="md-block" >
					<label>Nombre de usuario</label>

					<input name="username" id="username" ng-model="vm.userData.username" type="text" ng-required="true">
					<div ng-messages="loginForm.username.$error" ng-if="loginForm.username.$touched">
						<div ng-message="required">Por favor ingrese su nombre de usuario.</div>
					</div>
				</md-input-container>



			<md-input-container class="md-block">
				<label>Contraseña</label>
				<input name="password" id="password" ng-model="vm.userData.password"  type="password" ng-required="true" minlength="5">
				<div ng-messages="loginForm.password.$error" ng-if="loginForm.password.$touched">
						<div ng-message="required">Por favor ingrese su contraseña.</div>
						<div ng-message="minlength">Su contraseña debe tener mínimo 5 caracteres.</div>
				</div>
			</md-input-container>
			<md-checkbox md-no-ink="" aria-label="¿Recordarte?" ng-model="vm.userData.remember" >
				¿Recordarme?
			</md-checkbox>

			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
				<md-button ng-click="vm.login()" ng-disabled="loginForm.$invalid" class="md-raised md-primary">Iniciar</md-button>
			</section>

			<section>
				<md-button class="md-primary" ng-href="" target="_blank">¿Olvido su contraseña?</md-button>
			</section>

			<section>
				<md-button class="md-primary" ng-click="vm.redirect('/register')" target="_blank">¿No tiene una cuenta?</md-button>
			</section>

			<label>O inicie sesión con:</label>

			<!-- Redes sociales -->
			<section layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
				<md-button id="google_plus" class="md-fab" aria-label="google_plus">
					<i class="fa fa-google-plus fa-2x"></i>
				</md-button>

				<md-button id="twitter" class="md-fab" aria-label="twitter">
					<i class="fa fa-twitter fa-2x"></i>
				</md-button>

				<md-button id="facebook" class="md-fab" aria-label="facebook">
					<i class="fa fa-facebook fa-2x"></i>
				</md-button>

				<md-button id="linkedin" class="md-fab" aria-label="linkedin">
					<i class="fa fa-linkedin fa-2x"></i>
				</md-button>
			</section>
		</md-card-content>
	</md-card>
	</form>
</div>
