<md-dialog aria-label="Update demanda">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Editar demanda</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()">
        <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="createForm" novalidate>
    <md-dialog-content>
      <md-input-container>
        <label>Nombre de la demanda</label>
        <input>
          <!--Esto es opcional-->
        </md-input-container>
      <md-input-container>
        <label>Descripción</label>
        <input>
          <!--Esto es opcional-->
        </md-input-container>
      <md-content layout="row" flex>
        <md-input-container class="md-block" flex>
          <label>Latitud actual</label>
          <input ng-model="vm.profile.latitude" type="text" required><!--Esto es opcional-->
        </md-input-container>
        <md-input-container class="md-block" flex>
          <label>Longitud actual</label>
          <input ng-model="vm.profile.longitude" type="text" required><!--Esto es opcional-->
        </md-input-container>
      </md-content>
      <md-input-container>
        <label>Prectio actual</label>
        <input>
          <!--Esto es opcional-->
        </md-input-container>
      <md-input-container class="md-block">
        <label>Fecha actuak</label>
        <input>
          <!--Esto es opcional-->
        </md-input-container>

      <md-button ng-click="vm.closeDialog()" class="md-primary">Cancelar</md-button>
      <md-button ng-click="vm.createDemand()" class="md-primary">Guardar</md-button>
    </md-dialog-content>
  </form>
</md-dialog>
