<md-dialog aria-label="Update demanda">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Editar demanda</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()">
        <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="createForm" novalidate>
    <md-dialog-content>
		<md-input-container class="md-block">
			<label>Titulo</label>
			<input name="title" id="title" ng-model="vm.demand.title" ng-required="true" md-maxlength="50" md-minlength="5">
			<div ng-messages="createForm.title.$error" ng-if="createForm.title.$dirty">
				<div ng-message="required">Por favor ingrese el titulo de la demanda.</div>
			</div>
		</md-input-container>
		<md-input-container class="md-block">
			<label>Descripción</label>
			<input name="description" id="description" ng-model="vm.demand.description" ng-required="true">
			<div ng-messages="createForm.description.$error" ng-if="createForm.description.$dirty">
				<div ng-message="required">Por favor ingrese la descripción de la demanda.</div>
			</div>
		</md-input-container>
		<div class="md-block">
			<md-datepicker name="deadline" ng-model="vm.demand.deadline" md-placeholder="Fecha máxima" required></md-datepicker>
			</br>
			<md-input-container>
				<div class="validation-messages" ng-messages="createForm.deadline.$error" ng-if="createForm.deadline.$touched">
					<div ng-message="required">Por favor ingrese fecha máxima de la demanda.</div>
				</div>
			</md-input-container>
		</div>

		<md-button ng-click="vm.closeDialog()" class="md-primary">Cancelar</md-button>
		<md-button ng-click="vm.updateDemand()" class="md-primary">Actualizar</md-button>
    </md-dialog-content>
  </form>
</md-dialog>
