<div>
	<md-toolbar class="md-tall md-whiteframe-4dp md-hue-1">
		<div class="md-toolbar-tools">
			<h2>
				<span>Registro</span>
			</h2>
		</div>
	</md-toolbar>
	<form name="createForm" novalidate>

	<md-card>
		<md-card-content>
			<form name="createForm" novalidate>
				<md-content class="md-no-momentum">
					<md-content layout="row">

						<md-input-container class="md-icon-float md-block" flex>
							<label>Nombres</label>

							<input name="firstName" id="firstName" ng-model="vm.profile.firstName" type="text" ng-required="true">

							<div ng-messages="createForm.firstName.$error" ng-if="createForm.firstName.$touched">
								<div ng-message="required">Su nombre debe tener al menos 1 carácter .</div>
							</div>

							<md-icon md-svg-icon="account"></md-icon>
						</md-input-container>

						<md-input-container class="md-icon-float md-block" flex>
							<label>Apellidos</label>

							<input name="lastName" id="lastName" ng-model="vm.profile.lastName" type="text" ng-required="true">
							<div ng-messages="createForm.lastName.$error" ng-if="createForm.lastName.$touched">
								<div ng-message="required">Su apellido debe tener al menos 1 carácter .</div>
							</div>

							<md-icon md-svg-icon=""></md-icon>
						</md-input-container>

					</md-content>
					<md-input-container class="md-icon-float md-block">
						<label>Correo</label>
						<input name="email" id="email" ng-model="vm.profile.email" type="email" ng-required="true">
							<div ng-messages="createForm.email.$error" ng-if="createForm.email.$touched">
								    <div ng-message="required">Por favor ingrese un correo valido.</div>
    								<div ng-message="email">Por favor ingrese un correo valido.</div>
							</div>
						<md-icon md-svg-icon="email"></md-icon>
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<label>Celular</label>
						<input name="phone" id="phone" ng-model="vm.profile.phone" type="number" ng-required="true" minlength="8">
							<div ng-messages="createForm.phone.$error" ng-if="createForm.phone.$touched">
							<div ng-message="required">Por favor ingrese su numero.</div>
								<div ng-message="minlength">Por favor ingrese su numero.</div>
							</div>
						<md-icon md-svg-icon="phone"></md-icon>
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<label>Genero</label>
						<md-icon md-svg-icon="gender"></md-icon>
						<md-select ng-model="vm.profile.gender" required>
							<md-option ng-value="gender.id" ng-repeat="gender in vm.genders">
								{{gender.name}}
							</md-option>
						</md-select>
					</md-input-container>

					<md-input-container class="md-icon-float md-block">
						<label>Dirección</label>
						<input name="address" id="address" ng-model="vm.profile.address" type="text" ng-required="true">
							<div ng-messages="createForm.addrees.$error" ng-if="createForm.addrees.$touched">
								<div ng-message="required">Su nombre de usuario debe tener al menos 1 carácter .</div>
							</div>
						<md-icon md-svg-icon="map"></md-icon>
					</md-input-container>

					<md-content layout="row">

						<md-input-container class="md-icon-float md-block" flex>
								<label>Nombre de usuario</label>
								<input name="username" id="username" ng-model="vm.profile.username" type="text" ng-required="true">
									<div ng-messages="createForm.username.$error" ng-if="createForm.username.$touched">
										<div ng-message="required">Su nombre de usuario debe tener al menos 1 carácter .</div>
									</div>
								<md-icon md-svg-icon="account"></md-icon>
							</md-input-container>

						<md-input-container class="md-icon-float md-block" flex>
							<label>Contraseña</label>
							<input name="password" id="password" ng-model="vm.profile.password"  type="password" ng-required="true" minlength="5">
								<div ng-messages="createForm.password.$error" ng-if="createForm.password.$touched">
										<div ng-message="required">Su contraseña debe tener minimo 5 carácteres.</div>
										<div ng-message="minlength">Su contraseña debe tener minimo 5 carácteres.</div>
								</div>
							<md-icon md-svg-icon="key"></md-icon>
						</md-input-container>

					</md-content>
					<!--
					<md-content layout="row">
						<md-checkbox ng-model="vm.profile.admin" ng-false-value="false">
						<span>¿Administrador?</span>
					</md-content>
					-->
					
					<md-button class="md-raised" ng-disabled="createForm.$invalid" ng-click="vm.registerUser()">Registrar</md-button>
				</md-content>
			</form>
		</md-card-content>
	</md-card>
	</form>
</div>