<md-content layout-fill layout="row" ng-controller="MainController as MainCtrl">
	<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-sm')">
		<md-toolbar class="md-whiteframe-4dp md-tall">
			<h1 class="md-toolbar-tools">Usuario</h1>
		</md-toolbar>
		<md-content layout-padding>
			<md-list flex>
				<md-subheader class="md-no-sticky">Menú</md-subheader>
				<md-list-item ng-repeat="menu in MainCtrl.menus" ng-click="MainCtrl.changeLocation(menu.url)">
					<p> <md-icon md-svg-icon="{{ menu.img }}"></md-icon> &nbsp; {{ menu.name }}</p>
				</md-list-item>
			</md-list>
		</md-content>
	</md-sidenav>
	<md-content flex layout="column">
		<md-toolbar class="md-whiteframe-z2">
			<div class="md-toolbar-tools">
				<md-button class="md-icon-button" hide-gt-sm ng-click="MainCtrl.toggleMenu()" aria-label="Menú">
					<md-icon md-svg-icon="menu"/>
				</md-button>
				<a id="logo" href="#/home">
					<img class="image" ng-src="assets/images/logo.png" >
				</a>
				<span flex>
				</span>
			</div>
		</md-toolbar>
		<div flex layout="row">
			<md-content ng-view flex></md-content>
		</div>
	</md-content>
</md-content>