<md-dialog aria-label="Eliminar oferta">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Eliminar oferta</h2>
      <span flex></span>
      <md-button class="md-icon-button" ng-click="vm.closeDialog()">
        <md-icon md-svg-icon="close" aria-label="Close dialog"></md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <md-dialog-content>
    <md-button ng-click="vm.closeDialog()" class="md-primary">Cancelar</md-button>
    <md-button ng-click="vm.deleteOffer()" class="md-primary">Eliminar</md-button>
  </md-dialog-content>
</md-dialog>
