<div id="background">
  <p>A la Orden!</p>
  <form>
    <div>
      <div class="inLine">
        <md-card>
          <md-input-container class="md-icon-float md-block">
            <label>Buscar</label>
            <input ng-model="vm.home_search" type="text">
          </md-input-container>
        </md-card>
      </div>
      <div class="inLine">
        <md-button ng-click="">Buscar</md-button>
      </div>
    </div>
    <div class="inLine">
      <md-switch ng-model="vm.switch">
        <p ng-if="vm.switch">Oferta</p>
        <p ng-if="!vm.switch">Demanda</p>
      </md-switch>
    </div>
  </form>
  <md-button ng-click="">Todas las Ofertas</md-button>
  <md-button ng-click="">Todas las Demandas</md-button>
</div>
