<md-content>
	<md-toolbar class="md-tall md-whiteframe-4dp md-hue-1">
		<div class="md-toolbar-tools">
			<h2>
				<span>Registro</span>
			</h2>
		</div>
	</md-toolbar>
	
	<md-card layout="row" layout-sm="column" layout-align="center center" layout-wrap="">
		<md-card-content>

       		<div layout-gt-sm="row">
          		
         		
          	<md-input-container class="md-block" flex-gt-sm="">

			<label>Nombres</label>

            		<input ng-model="theMax">
          		</md-input-container>
        	</div>

        	
     		
      		<md-input-container class="md-block" flex-gt-sm="">

			<label>Apellidos</label>
        		<input ng-model="theMax">
      		</md-input-container>


      		<md-input-container class="md-block" flex-gt-sm="">

			<label>Correo</label>
        		<input ng-model="theMax">
      		</md-input-container>


    		<md-input-container class="md-block" flex-gt-sm="">

			<label>Telefono</label>
        		<input ng-model="theMax">
      		</md-input-container>


      		<md-input-container class="md-block" flex-gt-sm="">
            <label>Sexo</label>
            <md-select ng-model="user.sexo">
              <md-option ng-repeat="sexos" value="{{sexo.abbrev}}">
                {{sexo.abbrev}}
              </md-option>
            </md-select>
            </md-input-container>

            <md-input-container class="md-block" flex-gt-sm="">

            <label>Contraseña</label>
        		<input ng-model="theMax">
      		</md-input-container>

      		<md-button class="md-raised">Registrar</md-button>
          

			
		</md-card-content>
	</md-card>
	
</md-content>